<div class="page survey-results">
    <h1>{{ mockSurvey.title }}</h1>
    <p>{{ mockSurvey.description }}</p>

    @for (question of mockSurvey.questions; track question.id) {
        <div class="question-block">
            <h2>{{ question.text }}</h2>
            @if (question.type === 'text') {
                <div class="answers-list">
                    <label>Answers:</label>
                    @for (
                        answer of mockSurvey.answers;
                        track answer.respondent
                    ) {
                        <div>
                            <button
                                class="answer-name"
                                (click)="toggleOtherAnswer(answer.respondent)"
                            >
                                {{
                                    answer.respondent ===
                                    mockSurvey.answers[0].respondent
                                        ? answer.respondent.split(' ')[0] +
                                          ' (You)'
                                        : answer.respondent.split(' ')[0]
                                }}
                            </button>
                            @if (expandedOtherAnswer === answer.respondent) {
                                <div class="answer-content">
                                    <span>{{
                                        getAnswer(
                                            answer.answers,
                                            question.id,
                                            question.type
                                        )
                                    }}</span>
                                </div>
                            }
                        </div>
                    }
                </div>
            }
            @if (question.type === 'single') {
                <div class="pie-chart">
                    <svg width="200" height="200" viewBox="0 0 32 32">
                        <circle r="16" cx="16" cy="16" fill="#eee" />
                        @for (opt of question.options; track $index) {
                            @if (getOptionStats(question.id, opt) > 0) {
                                <path
                                    [attr.d]="
                                        describeArc(
                                            16,
                                            16,
                                            16,
                                            getPieStart(question, $index),
                                            getPieEnd(question, $index)
                                        )
                                    "
                                    [attr.fill]="getPieColor($index)"
                                    stroke="#fff"
                                    stroke-width="0.5"
                                />
                            }
                        }
                    </svg>
                    <div class="pie-legend">
                        @for (opt of question.options; track $index) {
                            <div>
                                <span
                                    class="color"
                                    [style.background]="getPieColor($index)"
                                ></span>
                                {{ opt }} ({{
                                    getOptionStats(question.id, opt)
                                }}%)
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
</div>
