@if (typeof tag === 'string') {
    <a
        mat-stroked-button
        class="blog-tag-button"
        [href]="APP_ROUTES.BLOG.TAG(getKeyValue(tag, 'name'))"
    >
        {{ getKeyValue(tag, 'name') }}
    </a>
} @else {
    <div
        class="blog-tag"
        (click)="onTagClick()"
        [ngClass]="{
            'blog-tag__active': getKeyValue(tag, 'selected'),
            'blog-tag__disabled': !getKeyValue(tag, 'selected'),
        }"
    >
        {{ getKeyValue(tag, 'name') }} ({{ getKeyValue(tag, 'count') }})
    </div>
}
