@use 'theme-colors' as tc;
@use '@angular/material' as mat;

$theme: mat.define-theme(
    (
        color: (
            theme-type: light,
            primary: tc.$primary-palette,
            tertiary: tc.$tertiary-palette,
        ),
    )
);

html {
    color-scheme: light;
    @include mat.core();
    @include mat.theme($theme);
    @include mat.all-component-themes($theme);
    @include mat.system-level-colors($theme);
    @include mat.system-level-typography($theme);
}

.bkg_special {
    background-color: #3b2c35;
}

.btn_primary {
    @include mat.button-color($theme, $color-variant: primary);
}

.btn_secondary {
    @include mat.button-color($theme, $color-variant: secondary);
}

.btn_tertiary {
    @include mat.button-color($theme, $color-variant: tertiary);
}
