@use 'sass:map';

$_palettes: (
    primary: (
        0: #000000,
        10: #410005,
        20: #68000e,
        25: #7d0013,
        30: #920219,
        35: #a31523,
        40: #b5242d,
        50: #d83e43,
        60: #fb5859,
        70: #ff8985,
        80: #ffb3af,
        90: #ffdad7,
        95: #ffedeb,
        98: #fff8f7,
        99: #fffbff,
        100: #ffffff,
    ),
    secondary: (
        0: #000000,
        10: #251a00,
        20: #3e2e00,
        25: #4c3900,
        30: #5a4400,
        35: #684f00,
        40: #765a05,
        50: #917321,
        60: #ad8d39,
        70: #caa750,
        80: #e7c268,
        90: #ffdf96,
        95: #ffefd1,
        98: #fff8f1,
        99: #fffbff,
        100: #ffffff,
    ),
    tertiary: (
        0: #000000,
        10: #001f29,
        20: #0a3543,
        25: #19404e,
        30: #264b5a,
        35: #325766,
        40: #3f6373,
        50: #587c8c,
        60: #7196a7,
        70: #8bb1c2,
        80: #a6ccde,
        90: #c2e8fb,
        95: #dff4ff,
        98: #f3faff,
        99: #fafcff,
        100: #ffffff,
    ),
    neutral: (
        0: #000000,
        10: #1c1c11,
        20: #313124,
        25: #3c3c2f,
        30: #48473a,
        35: #545345,
        40: #605f50,
        50: #797868,
        60: #939181,
        70: #aeac9b,
        80: #c9c7b5,
        90: #e6e3d0,
        95: #f4f1de,
        98: #fdfae7,
        99: #fffbff,
        100: #ffffff,
    ),
    'neutral-variant': (
        0: #000000,
        10: #1c1c11,
        20: #313124,
        25: #3c3c2f,
        30: #48473a,
        35: #545345,
        40: #605f50,
        50: #797868,
        60: #939181,
        70: #aeac9b,
        80: #c9c7b5,
        90: #e6e3d0,
        95: #f4f1de,
        98: #fdfae7,
        99: #fffbff,
        100: #ffffff,
    ),
    error: (
        0: #000000,
        10: #410000,
        20: #690100,
        25: #7e0100,
        30: #930100,
        35: #a90100,
        40: #c00100,
        50: #ef0000,
        60: #ff5540,
        70: #ff8a78,
        80: #ffb4a8,
        90: #ffdad4,
        95: #ffedea,
        98: #fff8f6,
        99: #fffbff,
        100: #ffffff,
    ),
);

$_rest: (
    secondary: map.get($_palettes, secondary),
    neutral: map.get($_palettes, neutral),
    'neutral-variant': map.get($_palettes, 'neutral-variant'),
    error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$secondary-palette: map.get($_palettes, secondary);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);
$neutral-palette: map.get($_palettes, neutral);
$neutral-variant-palette: map.get($_palettes, 'neutral-variant');
$error-palette: map.get($_palettes, error);
