# this is optimized for quick deployments of non prod enviroments like developmentpreview.example.com
DEPLOYMENT=dev
DOMAINNAME=example.com
MONGODB_URI=mongodb://mongo-${DEPLOYMENT}:27017/
MONGO_APP_NAME=${DEPLOYMENT}-hangbuddies-core-api
BACKEND_IDENTIFIER=hangbuddies-${DEPLOYMENT}-backend
BACKEND_HOST=api.${DEPLOYMENT}.${DOMAINNAME}
FRONTEND_IDENTIFIER=hangbuddies-${DEPLOYMENT}-frontend
FRONTEND_HOST=${DEPLOYMENT}.${DOMAINNAME}