# this is optimized for quick deployments of non prod enviroments like developmentpreview.example.com
DEPLOYMENT=dev
DOMAINNAME=example.com
HOST_SUBDOMAIN=${DEPLOYMENT} #leave blank for production
MONGODB_URI=mongodb://mongo-${DEPLOYMENT}:27017/
MONGO_APP_NAME=${DEPLOYMENT}-hangbuddies-core-api
BACKEND_IDENTIFIER=hangbuddies-${DEPLOYMENT}-backend
BACKEND_HOST=api-${HOST_SUBDOMAIN}${DOMAINNAME}
FRONTEND_IDENTIFIER=hangbuddies-${DEPLOYMENT}-frontend
FRONTEND_HOST=${HOST_SUBDOMAIN}${DOMAINNAME}
CORS_ORIGIN=http://localhost:3000,${FRONTEND_HOST}