<section>
    <div id="landing-container-design-view" class="">
        
        <div class="flex-container">

            <div>
                <img id="laning-design-view-illustration" src="illustrations/undraw_events_0w4f.svg" alt="landing page illustration">
            </div>

            <div class="text-container">
                <h1>Effortless Scheduling, No Hassle.</h1>
                <p>Organizing meetups effortless with a fast, shareable, and registration-free survey tool. Create polls, share them instantly, and let participants vote — no sign-ups, no friction, just simple event planning for friends, teams, and more.</p>
                <div class="btn-container">
                    <a href="#get-started" mat-stroked-button color="primary">Learn more</a>
                    <a href="/create" mat-button mat-flat-button color="primary">
                       <mat-icon>add</mat-icon> Create
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="landing-container-content-view">
        <div>
            <h1 class="landing-container-content-view-title">
                Get Started
            </h1>
            <p class="landing-container-content-view-description">
                Scheduling made simple. Create a poll, share it instantly, and let participants vote. No accounts, no delays. Whether for friends, teams, or business meetings, organizing events has never been this smooth.
            </p>
        </div>
        <div id="landing-info-container">
            <div>
                <mat-icon class="landing-info-item-icon">edit</mat-icon>
                <h3 class="landing-info-item-title">Create Instantly</h3>
                <p class="landing-info-item-description">
                    Start by setting up a poll with event details, time options, and a short description. Customize it to fit your needs in just a few clicks
                </p>
            </div>
            <div>
                <mat-icon class="landing-info-item-icon">share</mat-icon>
                <h3 class="landing-info-item-title">Share Effortlessly</h3>
                <p class="landing-info-item-description">
                    Send the poll link to friends, colleagues, or teams through any platform—no logins required. Anyone can vote with just one click.
                </p>
            </div>
            <div>
                <mat-icon class="landing-info-item-icon">edit</mat-icon>
                <h3 class="landing-info-item-title">Finalize Easily</h3>
                <p class="landing-info-item-description">
                    Instantly see votes as they come in. Pick the best time based on responses and lock in your event with confidence.
                </p>
            </div>
        </div>
    </div>
</section>