@use 'breakpoints' as bp;

.create-survey {
    margin: 3rem 6rem;

    &__details {
        &-list {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

    &__questions {
        display: flex;
        flex-direction: column;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    &__item {
        display: flex;
        align-items: flex-start;
        gap: 0.75rem;
        margin-top: 1rem;
    }

    &__drag-handle,
    &__remove {
        flex: 0 0 auto;
        margin-top: 0.5rem;
    }

    &__field {
        flex: 1 1 auto;
    }

    &__add {
        display: flex;
        justify-content: center;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__wrapper {
        &-actions {
            display: flex;
            justify-content: space-between;
        }
    }
}

@media (max-width: map-get(bp.$breakpoints, md)) {
    .create-survey {
        margin: 1rem;

        &__field {
            width: 100%;
        }
    }
}
