<mat-card class="post no-border">
    <mat-card-header>
        <a
            [routerLink]="APP_ROUTES.BLOG.DETAIL(post.id)"
            class="link__opacity-hover"
        >
            <mat-card-title>
                {{ post.title }}
            </mat-card-title>
        </a>
    </mat-card-header>
    <mat-card-content>
        <p class="post__description">
            {{ post.description.split(' ').slice(0, 15).join(' ') + '...' }}
        </p>
        <div class="post__information">
            <p class="post__date">
                {{ post.createdAt | date: 'MMMM d, y' }}
            </p>
            <div class="post__tags">
                @for (tag of post.tags; track tag) {
                    <app-blog-tag [tag]="tag"></app-blog-tag>
                }
            </div>
        </div>
    </mat-card-content>
</mat-card>
