<div id="cont__hero">
    <div id="cont__img">IMAGE IMAGE IMAGE</div>
    <div id="cont__txt">
        <h1>Effortless Scheduling, No Hassle.</h1>
        <p>
            Organizing meetups effortless with a fast, shareable, and
            registration-free survey tool. Create polls, share them instantly,
            and let participants vote — no sign-ups, no friction, just simple
            event planning for friends, teams, and more.
        </p>
        <div id="cont__btn">
            <button
                color="primary"
                mat-stroked-button
                routerLink="#get-started"
            >
                Learn More
            </button>
            <button
                [routerLink]="APP_ROUTES.SURVEY.CREATE"
                color="primary"
                mat-flat-button
            >
                <mat-icon>add</mat-icon>
                Create
            </button>
        </div>
    </div>
</div>
