<div class="hero">
    <div class="hero__image">
        <img
            alt="An illustrative image of a woman placing red sticky notes on a large calendar board."
            src="/illustrations/events.svg"
        />
    </div>

    <div class="hero__text">
        <div class="hero__text-content">
            <h1>Effortless Scheduling, No Hassle.</h1>
            <p>
                Organizing meetups effortless with a fast, shareable, and
                registration-free survey tool. Create polls, share them
                instantly, and let participants vote — no sign-ups, no friction,
                just simple event planning for friends, teams, and more.
            </p>
        </div>

        <div class="hero__buttons">
            <a mat-stroked-button scrollTo targetId="get-started">
                Learn More
            </a>
            <a [routerLink]="APP_ROUTES.SURVEY.CREATE" mat-flat-button>
                <mat-icon>add</mat-icon>
                Create
            </a>
        </div>
    </div>
</div>

<app-get-started />
