<section class="hero">
    <div class="hero__image">
        <img
            alt="Illustration of a woman organizing sticky notes on a calendar board."
            src="/illustrations/events.svg"
        />
    </div>

    <div class="hero__text">
        <div class="hero__text-content">
            <h1>Quick Polls & Date Picks, No Signup</h1>
            <p>
                Gather preferences or choose dates with a fast, shareable,
                registration-free tool. Create your poll, share the link
                instantly, and let participants vote or add notes — no accounts,
                no hassle, just clear feedback.
            </p>
        </div>

        <div class="hero__buttons">
            <a mat-stroked-button scrollTo targetId="get-started">
                Learn More
            </a>
            <a [routerLink]="APP_ROUTES.SURVEY.CREATE" mat-flat-button>
                <mat-icon>add</mat-icon>
                Create
            </a>
        </div>
    </div>
</section>

<app-get-started />
