@use '@angular/material' as mat;

#cont__hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: auto;
    height: 50vh;
}

@media screen and (max-width: 800px) {
    #cont__img {
        display: none;
    }
}
