@use 'breakpoints' as bp;
@use 'mixins' as *;

.get-started {
    padding: 4rem 2rem;

    &__header {
        max-width: 800px;
        margin: 0 auto 5rem 0;
    }

    &__features {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;

        mat-card {
            flex: 1 1 calc(33.333% - 2rem);
            min-width: 280px;
            box-sizing: border-box;
            background-color: var(--mat-sys-surface);

            mat-card-header {
                mat-icon {
                    font-size: 32px;
                    color: var(--mat-sys-primary);
                    overflow: visible;
                }
            }
        }
    }
}

@include util-respond-max(md) {
    .get-started__features {
        mat-card {
            flex: 1 1 calc(50% - 2rem);
        }
    }
}

@include util-respond-max(sm) {
    .get-started__features {
        mat-card {
            flex: 1 1 100%;
        }
    }
}

.get-started_hide {
    margin: 0 1rem 0 1rem;
    display: flex;
    justify-content: end;
}
