.footer {
    margin-top: 5rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;

    &__toolbar {
        padding: 3rem 2rem;
        background-color: #3b2c35;

        &-brand {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        &-logo {
            height: 4rem;
            width: auto;
        }
    }

    &__content {
        padding: 0 2rem;
    }
}
