.footer {
    display: flex;
    flex-direction: column;
    top: auto;
    width: 100%;
    min-height: 20vh;
    bottom: 0;
    background-color: var(--mat-sys-on-primary-container);
    color: var(--mat-sys-primary-container);

    &__toolbar {
        &-brand {
        }
    }
}
