<footer class="footer bkg_special">
    <mat-toolbar class="footer__toolbar">
        <div class="footer__toolbar-brand">
            <a [routerLink]="APP_ROUTES.HOME.LANDING" class="util-link-image">
                <img
                    alt="Logo"
                    class="footer__toolbar-logo"
                    height="120"
                    ngSrc="/icon.png"
                    priority
                    width="120"
                />
            </a>
            <button
                [routerLink]="APP_ROUTES.HOME.LANDING"
                class="btn_secondary"
                mat-stroked-button
            >
                Preferences
            </button>
        </div>
    </mat-toolbar>
    <div class="footer__content">
        <div class="footer__content-text">
            <p>
                A fast, shareable, and registration-free survey tool for
                effortless event scheduling with friends, teams, and more.
            </p>
        </div>
        <div class="footer__content-links">
            <div class="footer__content-link-section">
                <a
                    [routerLink]="APP_ROUTES.HOME.LANDING"
                    class="util-link-external"
                >
                    Privacy Policy
                </a>
            </div>
        </div>
    </div>
</footer>
