<section class="comparison-cta__container">
    <div class="comparison-cta__content">
        <h2>Simplify Polls & Date Picks</h2>
        <p>
            No logins, subscriptions, or endless notifications and distractions,
            just create your poll or date picker, share the link, and gather
            responses instantly.
        </p>
        <div class="comparison-cta__actions">
            <a color="secondary" mat-button scrollTo targetId="get-started">
                Learn More
            </a>
            <a
                [routerLink]="APP_ROUTES.SURVEY.CREATE"
                class="comparison-cta_actions-primary"
                mat-flat-button
            >
                <mat-icon>add</mat-icon>
                Create
            </a>
        </div>
    </div>
</section>
